@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

html {
    background-color: #232A33;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.hero-img {
    position: absolute;
    z-index: -100;
    opacity: 30%;
}

/* .header {
    border-bottom: 1px solid #E2E8F0;
} */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}

.nav-menu { 
	display: flex; 
	justify-content: space-between; 
	align-items: center; 
}

.nav-item {
	margin-left: 5rem;
}

.nav-link{
    font-family: "Plus Jakarta Sans", sans-serif;
	font-size: 0.8rem;
	font-weight: 700;
	color: #FFFFFF;
}

.nav-link:hover{
	color: #482ff7;
    transition: 0.2s all;
}

.nav-logo {
    font-family: "Inter", sans-serif;
	font-size: 2.1rem;
	font-weight: 700;
	color: #FFFFFF;
}

.take-off-sec {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.take-off-img {
    position: relative;
    z-index: 1;
    align-self: center;
    padding-top: 8rem;
}

.top-right-cloud {
    position: absolute;
    z-index: -1;
    height: 25rem;
    width: 43rem;
    top: 2.5rem;
    left: 55rem;
    transform: scale(-1, 1);
}

.bottom-left-cloud {
    position: absolute;
    z-index: 10;
    height: 30rem;
    width: 70rem;
    top: 10rem;
    left: -28rem;
    opacity: 90%;
}

.take-off-sec p {
    font-family: "Plus Jakarta Sans", sans-serif;
    color: #FFFFFF;
}