@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

html {
    background-color: #232A33;
    max-width: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: clip;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.hero-img {
    position: absolute;
    z-index: -100;
    opacity: 30%;
    max-width: 100%;
    mask-image: linear-gradient(rgba(0, 0, 0, 1) 80%, transparent);
}

header {
    position: sticky;
    top: 0;
    z-index: 100;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    text-transform: uppercase;
}

.nav-menu { 
	display: flex; 
	justify-content: space-between; 
	align-items: center; 
}

.nav-item {
	margin-left: 5rem;
}

.nav-link{
    font-family: "Plus Jakarta Sans", sans-serif;
	font-size: 0.8rem;
	font-weight: 700;
	color: #FFFFFF;
}

.nav-link:hover{
	color: #F89485;
    transition: 0.2s all;
}


.nav-logo {
    font-family: "Inter", sans-serif;
	font-size: 2.1rem;
	font-weight: 700;
	color: #FFFFFF;
}

.take-off-sec {
    display: flex;
    align-items: center;
    flex-direction: column;
    /* overflow-x: clip; */
}

.take-off-img {
    position: relative;
    z-index: 1;
    align-self: center;
    padding-top: 8rem;
}

.top-right-cloud {
    position: absolute;
    z-index: -1;
    height: 25rem;
    width: 43rem;
    top: 2.5rem;
    left: 55rem;
    opacity: 80%;
    transform: scale(-1, 1);
}

.bottom-left-cloud {
    position: absolute;
    z-index: 10;
    height: 30rem;
    width: 70rem;
    top: 10rem;
    left: -28rem;
    opacity: 90%;
}

.take-off-sec p {
    font-family: "Plus Jakarta Sans", sans-serif;
    color: #FFFFFF;
}

.reuse-btn {
    display: inline-flex;
    align-items: center;
    margin-top: 3rem;
    border: 1.5px solid #FFFFFF;
    border-radius: 20px;
    background-color: transparent;
    padding: 1rem 2rem;
    font-family: "Inter", sans-serif;
	font-size: 0.8rem;
	font-weight: 500;
	color: #FFFFFF;
    text-transform: uppercase;
}

.arrow-icon{
    fill: #FFFFFF;
}

.reuse-btn:hover {
    color: #F89485;
    border: 1.5px solid #F89485;
    transition: 0.2s all;
}

.reuse-btn:hover .arrow-icon {
    fill: #F89485;
    transition: 0.2s;
}

.b2b-sec {
    width: 60%;
    margin: auto;
    margin-top: 6rem;
}

.b2b-sec h1 {
    font-family: "Plus Jakarta Sans", sans-serif;
    color: #FFFFFF;
    font-size: 3.5rem;
	font-weight: 700;
    text-transform: uppercase;
}

.b2b-sec p {
    margin-top: 1rem;
    font-family: "Plus Jakarta Sans", sans-serif;
    color: #F2F2F2;
    font-size:1.25rem;
	font-weight: 500;
    line-height: 2.5rem;
}

.b2b-sec span {
    display: inline-block;
    margin-top: 3rem;
}

.ap-sec{
    width: 80%;
    /* justify-content: left;
    display: inline-block; */
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    height: 500px; /* -- Temporary placeholder -- */
    background-color: #000;
}

.ap-sec-col{
    width: 100%;
    flex-direction: column;
}

.ap-sec-row{
    flex-direction: row;
}

.testimony-sec {
    width: 80%;
    margin: auto;
    margin-top: 6rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.testimony-logo {
    align-self: center;
    max-height: 70px;
    max-width: 138px;
}

.testimony-text {
    margin-top: 5rem;
    margin-bottom: 5rem;
    align-self: center;
    width: 57%;
}

blockquote {
    border: none;
    font-family: "Plus Jakarta Sans", sans-serif;
    color: #FFFFFF;
    font-size: 2.25rem;
	font-weight: 700;
    line-height: 3.1rem;
}

blockquote:before {
    position: absolute;
    transform: translate(-6rem, 4rem);
    content: open-quote;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 300;
    font-size: 300px;
    color: #FFFFFF;
    opacity: 50%;
}

.testimony-text span {
    color: #F89485;
}

.test-name {
    width: 57%;
}

.test-name p {
    margin-top: 2rem;
    text-align: right;
    font-family: "Plus Jakarta Sans", sans-serif;
    color: #FFFFFF;
    font-size: 1.5rem;
	font-weight: 700;
    line-height: 2.5rem;
}

.test-name span {
    display: block;
    font-family: "Plus Jakarta Sans", sans-serif;
    color: #FFFFFF;
    font-size: 1rem;
	font-weight: 400;
    line-height: 1.25rem;
}

.show-up-sec {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-top: 5rem;
}

.show-up-text {
    width: 80%;
    padding: 1rem;
    font-family: "Plus Jakarta Sans", sans-serif;
    color: #FFFFFF;
    font-style: normal;
    font-size: 3rem;
	font-weight: 700;
    line-height: 5.5rem;
}

.show-up-text span {
    display: block;
    color: #F89485;
    overflow: hidden;
}

.show-up-icon {
    width: 20%;
    text-align: end;
    margin-top: auto;
    padding-bottom: 2rem;
    padding-right: 2rem;
}

.caroussel {
    width: 80%;
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    height: 500px; /* -- Temporary placeholder -- */
    background-color: #000;
}

.b2b-ag-sec {
    margin-top: 5rem;
}

.b2b-bg-txt {
    position: absolute;
    white-space: nowrap;
    z-index: -1;
    font-family: "Plus Jakarta Sans", sans-serif;
    color: #FFFFFF;
    opacity: 10%;
    font-style: normal;
    font-size: 6rem;
	font-weight: 600;
    line-height: 10rem;
    text-transform: uppercase;
}

.b2b-bg-txt h2 {
    overflow: hidden;
}

.b2b-ag-txt {
    font-family: "Plus Jakarta Sans", sans-serif;
    padding-top: 5rem;
    padding-left: 4rem;
    z-index: 1;
    color: #FFFFFF;
    font-style: normal;
    font-size: 3rem;
	font-weight: 700;
    line-height: 5.5rem;
    text-transform: uppercase;
}

.b2b-ag-txt span {
    display: block;
    padding-left: 6rem;
    color: #F89485;
    overflow: hidden;
}

.under-b2b {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
}

.under-b2b-col-l {
    width: 50%;
    margin-top: 2rem;
    padding: 0 8rem 8rem 8rem;
}

.under-b2b-col-l p {
    font-family: "Plus Jakarta Sans", sans-serif;
    color: #FFFFFF;
    font-size: 1.5rem;
	font-weight: 400;
    line-height: 2.5rem;
}

.under-b2b-col-r {
    width: 50%;
    flex-direction: column;
}

.accordion-item {
    display: flex;
    align-items: center;
    min-height: 200px;
    margin-top: 2rem;
    margin-right: 5rem;
    border-bottom: 1px solid #FFFFFF;
    flex-direction: row;
}

.accordion-item:hover {
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    transition: 0.2s all;
}

.accordion-item h3 {
    width: 60%;
    font-family: "Plus Jakarta Sans", sans-serif;
    color: #FFFFFF;
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 3.15rem;
    letter-spacing: 0.02rem;
    text-align: left;
    text-transform: uppercase;
}

.accordion-icon {
    width: 40%;
    text-align: end;
    margin-top: auto;
}

.with-you-sec {
    margin: auto;
    margin-top: 20rem;
    margin-bottom: 20rem;
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.with-you-sec P {
    display: block;
    width: 50%;
    align-self: center;
    font-family: "Plus Jakarta Sans", sans-serif;
    color: #FFFFFF;
    font-size:1.25rem;
	font-weight: 400;
    line-height: 2.5rem;
}

.wy-bg-txt {
    display: flex;
    flex-direction: column;
    align-self: center;
    position: absolute;
    height: 100%;
    z-index: -1;
    font-family: "Plus Jakarta Sans", sans-serif;
    color: #FFFFFF;
    opacity: 10%;
    font-style: normal;
    font-size: 8rem;
	font-weight: 600;
    line-height: 10rem;
    text-transform: uppercase;
}

.with-txt {
    display: flex;
    height: 50%;
    align-items: end;
    margin-right: 30rem;
}

.you-txt {
    height: 50%;
    margin-left: 40rem;
}

.with-txt h2, .you-txt h2 {
    overflow: hidden;
}

.wy-fr-txt {
    font-family: "Plus Jakarta Sans", sans-serif;
    /* padding-top: 5rem; */
    z-index: 1;
    color: #FFFFFF;
    font-style: normal;
    font-size: 3rem;
	font-weight: 700;
    line-height: 5.5rem;
    text-transform: uppercase;
}

.wy-fr-txt h2 {
    overflow: hidden;
    text-align: center;
}

.timeline {
    display: flex;
    width: 80%;
    flex-direction: column;
    margin: auto;
    padding-bottom: 20rem;
}

.timeline-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* border-bottom: 2px solid #F89485; */
}

.timeline-item {
    text-align: center;
}

.timeline-item h3 {
    font-family: "Plus Jakarta Sans", sans-serif;
    color: #FFFFFF;
    font-size: 1.5rem;
	font-weight: 700;
    line-height: 2rem;
    text-transform: uppercase;
}

.timeline-item p {
    display: block;
    font-family: "Plus Jakarta Sans", sans-serif;
    color: #FFFFFF;
    font-size: 1.25rem;
	font-weight: 400;
    line-height: 1.5rem;
}

.timeline-item em {
    color: #F89485;
    font-style: normal;
}

.timeline-item span {
    color: transparent;
    background: linear-gradient(90deg, #3B8BAB 0%, #F89485 100%);
    background-clip: text;
}

.timeline-item i {
    margin-top: 1rem;
    content: " ";
    height: 15px;
    width: 15px;
    position: absolute;
    background-color: #F89485;
    border-radius: 50%;
}

.section-bg-color {
    background-color: #181D24;
    padding-top: 5rem;
    background-image: url(../img/marketing-sec-img.png);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position-x: right -20rem;
    background-position-y: bottom;
    overflow-x: clip;
}

.marketing-sec {
    text-align: start;
    padding-top: 3rem;
    padding-bottom: 3rem;
    font-family: "Plus Jakarta Sans", sans-serif;
    color: #FFFFFF;
    font-size: 2.5rem;
	font-weight: 800;
    line-height: 4.5rem;
}

.marketing-sec h2 {
    padding: 2rem;
    width: 70%;
    text-transform: uppercase;
    overflow: hidden;
}

.market-paraph {
    width: 40%;
    padding: 3rem;
    text-align: start;
    font-family: "Plus Jakarta Sans", sans-serif;
    color: #FFFFFF;
    font-size: 1.25rem;
	font-weight: 400;
    line-height: 2em;
}

.market-paraph em {
    display: block;
    font-style: normal;
    font-weight: 700;
}

.market-paraph span {
    display: block;
}

.feel-sec {
    display: flex;
    padding-top: 15rem;
    justify-content: center; 
}

.feel-bg-txt {
    position: absolute;
    white-space: nowrap;
    z-index: -1;
    font-family: "Plus Jakarta Sans", sans-serif;
    color: #FFFFFF;
    opacity: 10%;
    font-style: normal;
    font-size: 12rem;
	font-weight: 600;
    line-height: 10rem;
    text-transform: uppercase;
}

.feel-bg-txt h2 {
    overflow: visible;
}

.feel-ft-txt {
    font-family: "Plus Jakarta Sans", sans-serif;
    padding-top: 3rem;
    z-index: 1;
    color: #FFFFFF;
    font-style: normal;
    font-size: 6rem;
	font-weight: 700;
    line-height: 5.5rem;
    text-transform: uppercase;
}

.feel-ft-txt span {
    display: block;
    padding-top: 3rem;
    padding-left: 6rem;
    font-size: 5rem;
    color: #F89485;
    overflow: visible;
}

.under-feel {
    display: flex;
    padding-top: 5rem;
    width: 100%;
    flex-direction: row;
} 

.feel-img {
    margin: 0;
    width: 40%;
    background-image: url(../img/under-feel-img.png);
    background-size: cover;
}

.feel-paraph {
    width: 60%;
    margin: 0;
    padding: 5rem 7rem 5rem 7rem;
}

.feel-paraph h3 {
    font-family: "Plus Jakarta Sans", sans-serif;
    color: #FFFFFF;
    font-size: 2.5rem;
	font-weight: 600;
    line-height: 2.5rem;
}

.feel-paraph p {
    font-family: "Plus Jakarta Sans", sans-serif;
    padding-top: 3rem;
    color: #FFFFFF;
    font-size: 1.25rem;
	font-weight: 400;
    line-height: 2.5rem;
}

.form-sec {
    padding-top: 5rem;
}

.form {
    display: flex;
    width: 70%;
    z-index: 10;
    margin: auto;
    margin-bottom: 5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    flex-direction: column;
    text-align: center;
    box-shadow: -6px 6px 26px 0px #0F1317;
}

.form h2 {
    font-family: "Plus Jakarta Sans", sans-serif;
    color: #FFFFFF;
    font-size: 2rem;
	font-weight: 700;
    line-height: 4.5rem;
}

.form span {
    color: #F89485;
    overflow: visible;
}

.form input {
    width: 45%;
    padding: 1rem 1rem 1rem 0;
    background: transparent;
    border: transparent;
    border-bottom: 0.5px solid #C7C7C7;
    font-family: "Inter", sans-serif;
	font-size: 1rem;
	font-weight: 400;
	
}

.form input::placeholder {
    color: #C7C7C7;
    opacity: 1;
}

.form input:only-child {
    width: 100%;
}

.form textarea {
    width: 100%;
    min-height: 8rem;
    padding: 1rem;
    background: transparent;
    border: 0.5px solid #C7C7C7;
    font-family: "Inter", sans-serif;
	font-size: 1rem;
	font-weight: 400;
	color: #C7C7C7;
}

.input-area {
    display: flex;
    width: 70%;
    margin: auto;
    padding-top: 2rem;
    flex-direction: row;
    justify-content: space-between;
}

.form-col-half {
   width: 100%;
}

.submit-area {
    display: flex;
    width: 70%;
    margin: auto;
    padding-top: 2rem;
    padding-bottom: 5rem;
    flex-direction: row;
    justify-content: flex-end;
    border-bottom: 1px solid #F2F2F2;
    box-shadow: 0px 10px 8px -11px #FFFFFF;
}

.submit-btn {
    display: inline-flex;
    align-items: center;
    margin-top: 3rem;
    border: 1px solid #FFFFFF;   
    background-color: transparent;
    padding: 1rem 2rem;
    font-family: "Inter", sans-serif;
    font-size: 0.8rem;
    font-weight: 500;
    color: #FFFFFF;
    text-transform: uppercase;
}

.team-area {
    display: flex;
    width: 70%;
    margin: auto;
    padding-top: 2rem;
    flex-direction: column;
}

.team-row {
    display: flex;
    margin: auto;
    padding-top: 2rem;
    flex-direction: row;
    justify-content: space-between;
}

.team-img {
    width: 40%;
}

.team-col {
    display: flex;
    width: 60%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: left;
}

.team-col p {
    padding: 1rem;
    font-family: "Inter", sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
    color: #F0F0F0;
}

.team-col span {
    color: transparent;
    background: linear-gradient(90deg, #3B8BAB 0%, #F89485 100%);
    background-clip: text;
    font-weight: 600;
}

.form-light-effect {
    position: absolute;
    /* width: 600px;
    height: 600px;
    left: -257px;
    gap: 0px;
    opacity: 0.8px;
    z-index: -1;
    min-height: 1rem;
    background: radial-gradient(#49C6F3 17.88%, #232A33 100%);
    backdrop-filter: blur(600px); */
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10rem;
}

.footer-item {
    display: flex;
    flex-direction: row;
}

.footer-col {
    display: flex;
    flex-direction: column;
    margin-left: 3rem;
    margin-right: 3rem;
}

.bg-img-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 37px;
    height: 37px;
    background-color: #1B2128;
    border-radius: 20px;
}

.footer-col p {
    font-family: "Plus Jakarta Sans", sans-serif;
	font-size: 0.8rem;
	font-weight: 500;
	color: #FFFFFF;
    padding-bottom: 1rem;
}

.footer-col span {
    display: block;
}

.foot-link{
    font-family: "Plus Jakarta Sans", sans-serif;
	font-size: 0.8rem;
	font-weight: 700;
	color: #F89485;
    padding-bottom: 1rem;
}